body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: fit-content;
}

.header {
    text-align: center;
    padding:0px; /* Reduce the top and bottom padding */
    background-color: purple;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    font-size: 20px; /* Reduce the font size */
    margin: 0;
}

.header h2 {
    font-size: 16px; /* Reduce the font size */
    margin: 0;
}

.logo {
    width: 100px; /* Adjust the logo size as needed */
    height: auto;
    margin-bottom: 5px; /* Reduce the spacing between the logo and text */
    border-radius: 50%; /* Make the logo round by setting a border-radius of 50% */
}
