body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.login-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  font-family: Courier, monospace; /* Change the font family to Courier */
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;  }

.input-group {
  margin-bottom: 20px;
  margin-right: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Courier, monospace; /* Change the font family to Courier */
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Courier, monospace; /* Change the font family to Courier */ 
}
.input-group input:focus {
  border: 1px solid purple; /* You can change this to suit your design */
  box-shadow: 0 0 5px purple; /* You can adjust the size and color as needed */
}


.login-btn {
  background-color: purple;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: Courier, monospace; /* Change the font family to Courier */
}

.navbar {
  text-align: center;
  background-color: #3498db;
  padding: 10px;
}

/* Style the options (links) */
.option {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin: 0 20px;
}

/* Apply responsive styles for smaller screens */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: center;
  }

  .option {
      margin: 10px 0;
  }
}
